:root {
  font-family: Ubuntu, system-ui, sans-serif;
  line-height: 1;
  font-weight: 400;
  font-size: x-large;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  color: hsl(48deg, 100%, 50%);
}

#app {
  display: flex;
  place-items: center;
  flex-direction: column;
  gap: 1rem;
}

#settings {
  margin: auto;
}

#settings>details>summary {
  cursor: pointer;
  font-size: 1.5rem;
  margin: 1rem;
}

#settings>details>* {
  margin: 1rem;
}

#closeSettings {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  font-size: 1.5rem;
  color: red;
}

a {
  color: hsl(108, 100%, 70%);
}

a:visited {
  color: hsl(288, 100%, 70%);
}

footer {
  width: 80%;
  margin-top: 5rem;
  text-align: center;
}